<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Title</title>
    <meta charset="UTF-8"/>
</head>
<body>

<h1>Green Fox Fashion Web Store </h1>
<h1>Summary</h1>

<!--<table>-->
    <!--<tr>-->
        <!--<th>Item Name</th>-->
        <!--<th>Manufacturer</th>-->
        <!--<th>Category</th>-->
        <!--<th>Quantity</th>-->
        <!--<th>Sub-Total-price</th>-->
    <!--</tr>-->
    <!--<tr >-->
        <!--<td th:text="${product.name}"></td>-->
        <!--<td th:text="${product.manufacturer}"></td>-->
        <!--<td th:text="${product.category}"></td>-->
        <!--<td th:text="${product.quantity}"></td>-->
        <!--<td th:text="${product.price}"></td>-->
    <!--</tr>-->
<!--</table>-->
</body>
</html>

<!--item name-->
<!--manufacturer-->
<!--category-->
<!--size-->
<!--amount-->
<!--sub-total price of the item (based on nr. of selected item)-->